<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>createStudentForm</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-
  ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<div class="container text-center">
    <h2>학생 점수 수정하기</h2>
    <form th:object="${form}" method="post">
        <div class="row g-3">
            <div class="col">
                <label class="form-label" th:for="id">학번</label>
                <input class="form-control" type="text" th:field="*{id}" readonly>
            </div>
            <div class="col">
                <label class="form-label" th:for="name">이름</label>
                <input class="form-control" type="text" th:field="*{name}" readonly>
            </div>
            <div class="col">
                <label class="form-label" th:for="score">점수</label>
                <input class="form-control" type="text" th:field="*{score}">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">수정</button>
        <a href="/students" class="btn btn-primary" role="button">취소</a>
    </form>
</div>
</body>
</html>